name: Main
on:
  push:
    branches:
      - master
      - renovate/**
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 6'

  workflow_dispatch:

jobs:
  main:
    strategy:
      fail-fast: false
      matrix:
        config:
          - name: 'macos'
            image: 'macos-14'
            testProject: 'src/AvaloniaMath.ApiTest'
          - name: 'linux'
            image: 'ubuntu-24.04'
            testProject: 'src/AvaloniaMath.ApiTest'
          - name: 'windows'
            image: 'windows-2022'
            runAllTests: 'true'

    name: main.${{ matrix.config.name }}
    runs-on: ${{ matrix.config.image }}

    env:
      DOTNET_NOLOGO: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      NUGET_PACKAGES: ${{ github.workspace }}/.github/nuget-packages

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Verify encoding
        shell: pwsh
        run: ./scripts/verify-encoding.ps1

      - name: NuGet cache
        uses: actions/cache@v5
        with:
          path: ${{ env.NUGET_PACKAGES }}
          key: ${{ runner.os }}.nuget.${{ hashFiles('**/*.csproj', '**/*.fsproj') }}

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x

      - name: Build
        run: dotnet build

      - name: Run all tests
        run: dotnet test
        if: ${{ matrix.config.runAllTests == 'true' }}

      - name: Run portable tests
        run: dotnet test ${{ matrix.config.testProject }}
        if: ${{ matrix.config.runAllTests != 'true' }}
